body {
    background-color: red;
    color: white;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px calc(100vh - 102px) 52px;
    grid-template-areas:
        "header"
        "main"
        "footer"
    ;
}

a {
    color: white;
    text-decoration: none;
    background-color: red;
    border-bottom: 1px saddlebrown;
}

header {
    grid-area: header;
    background-color: red;
    border-bottom: 2px;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
}

main {
    grid-area: main;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
}

footer {
    grid-area: footer;
    width: 100%;
    background-color: red;
    border-top: 2px;
    position: fixed;
    bottom: 0;
    text-align: center;
}

header.container, main.container, footer.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

main.container, footer.container {
    padding: 0 16px;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-inline-start: 0;
    margin: 8px 0;
    gap: 16px;
    overflow: auto;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: block;
}

h1 {
    text-align: center;
    text-align: top;
}

p {
    flex-direction: row;
}

@media screen and (min-width:481px) and (max-width:920px) {
    body {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 50px calc(100vh - 150px) 100px;
    }
    h1 {
        font-size: 250%;
    }
    h2 {
        font-size: 175%;
    }
    h3 {
        font-size: 140%;
    }
}