<!DOCTYPE html>
<html lang="en">
{% load static i18n %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ROYAL DIAMOND{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'ROYAL/css/style.css' %}">
</head>
<body>
    <header>
        <ul>
            <li><a href="{% url "about" %}">Apie mane</a></li>
            <li><a href="{% url "index" %}">Video</a></li>
            <li><a href="{% url "index" %}">Foto</a></li>
            <li><a href="{% url "index" %}">Blog'as</a></li>
            <li><a href="{% url "index" %}">Kontaktai</a></li>
        </ul>
    </header>
    <main>{% block content %}{% endblock content %}</main>
    <footer class="layout-item">
        <p>&copy; 2023 All rights reserved ROYAL DIAMOND & ANGEL OF DARKNESS team</p>
    </footer>
</body>
</html>