{% extends 'base.html' %}

{% block content %}
    <h1>Nuotraukos</h1>
    <div class="photo-grid">
        {% for photo in foto %}
            <div class="photo-item">
                <h2>{{ photo.title }}</h2>
                <p>{{ photo.description }}</p>
                <a href="#" class="photo-link" data-lanrge-url="{{ photo.image_field.url}}">
                    <img src="{{ photo.image_field.url }}" alt="{{ photo.title }}" class="photo-image">
                </a>
                <p>Paskelbta: {{ photo.published_date|date:"F j, Y" }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block style %}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.photo-item {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.photo-image {
    max-width: 100%;
    max-height: 200px;
}

.photo-link {
    display: block;
    position: relative;
    width: 100%
}

.photo-link::before {
    content: "";
    display: block;
    padding-top: 100%;
}

.photo-large {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
}

.photo-large.active {
    opacity: 1;
    pointer-events: auto;
}

{% endblock style %}