{% extends 'base.html' %}

{% block content %}
    <h1>Nuotraukos</h1>
    <div class="photo-grid">
        {% for photo in foto %}
            <div class="photo-item">
                <h2>{{ photo.title }}</h2>
                <p>{{ photo.description }}</p>
                <a href="#" class="photo-link" data-lanrge-url="{{ photo.image_field.url}}">
                    <img src="{{ photo.image_field.url }}" alt="{{ photo.title }}" class="photo-image">
                </a>
                <p>Paskelbta: {{ photo.published_date|date:"F j, Y" }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}