{% extends 'base.html' %}

{% block content %}
<h1>ROYAL DIAMOND</h1>   
    <div class="container">
        <div class="h2-wrapper">
            <h2 class="h2-left">Nuskink dieną</h2>
            {% load static %} <img src="{% static "media/photos/diamond.jpg" %}" alt="home" />
            <h2 class="h2-right">Jeigu yra noras - atsiras 100 galimybių, jeigu noro nėra - atsiras 100 priežasčių</h2>
        </div>
    </div>
{% endblock content %}

{% block style %}

    .h2-wrapper {
        display: flex;
        align-items: center;
    }
    
    .h2-left {
        margin-right: 20px;
    }
    
    .h2-right {
        margin-left: 20px;
    }

    .h2-image {
        max-width: 100%;
        height: auto;
        margin: 0 20px;
    }
{% endblock style %}