{% extends 'base.html' %}

{% block content %}
    <h1>Video</h1>
    {% for video in video %}
        <div>
            <h2>{{ video.title }}</h2>
            <p>{{ video.description }}</p>
            <video width="320" height="240" controls>
                {% if video.video_file.name|lower|slice:'-4' == '.mp4' %}
                    <source src="{{ video.video_file.url }}" type="video/mp4">
                {% else %}
                    <p>This video format is not supported.</p>
                {% endif %}
                Your browser does not support the video tag.
            </video>
        </div>
    {% endfor %}
{% endblock %}